<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>eShop</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="script.js"></script>
  </head>
  <body>
    <div id="root">
      <header>
        <h1>{{ getTitle() }}; In cart: {{ calculatePrice }}</h1>
        <button class="cart-button" @click="setBasketVisibility">
          Корзина
        </button>
        <input
          class="search-field"
          type="text"
          v-model="searchValue"
          placeholder="search product"
        />
      </header>
      <main>
        <div class="basket" v-show="isVisibleCart">
          <div class="basket-list">
            <div
              class="basket-item"
              v-for="{product_name, price} in filteredProducts"
            >
              <h3>{{ product_name }}</h3>
              <p>{{ price }}</p>
            </div>
          </div>
        </div>
        <div class="goods-list">
          <div
            class="goods-item"
            v-for="{product_name, price} in filteredProducts"
          >
            <h3>{{ product_name }}</h3>
            <p>{{ price }}</p>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
